<h1>Login</h1>

  <%  if(messages.error) { %>
 <h2>Result:  <%= messages.error[0] %></h2>
  <%  } %>
  

<form action="/login" method="POST">

    <label for="email">Email</label>
    <input type="email" name="email" id="email" required />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="text" name="password" id="password" required />
  </div>
  <button type="submit" name="register" id="register">Login</button>
</form>
<p id="error"></p>
<a href="/register">Register</a>
